@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	background-color: #000;
}	

.cabecalho{
	background:url('assets/ft-header.jpg') no-repeat center;
	background-size: cover;
	height: 70vh;
	font-weight: 200%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}
.cabecalho-logo{
	width: 15%;
	margin-top:5%;
	margin-left:5%;

}
.cabecalho-menu{
	margin-top:5%;
	margin-right:10%;
}
.menu-item{
	padding: 10px;
	font-size: 20px;
	background-color: rgba(255,255,255,0.75);
	border-radius: 50px;
	font-size: 30px;
	color:#000;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.container-item{
	width: 100%;
    min-height: 100vh;
	background-color: #000;
   	display: flex;
   	position: relative;
   	justify-content: center;

}
.containerItem-titulo{
	color:#fff;
}
.flex-item{
	display: flex;
	justify-content: center;
	width: 30%;

}
.imagem{
	width: 30%;
}
.flex-item-maior{
	width: 40%;
}
.ultimoparagrafo{
	color: #fff;
}
.imgfooter{
	width:50px;
	height:60px;
}
.containerItem-box{
	position: absolute;
	border: 2px solid #fff;
	display: flex;
	width: 650px;
	height: 565px;
}