body{
	background-color: #000;
}	

.cabecalho{
	background:url('assets/ft-header.jpg') no-repeat center;
	background-size: cover;
	height: 70vh;
	font-weight: 125%;;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}
.cabecalho-logo{
	width: 15%;
	margin-top:10%;
}
.cabecalho-menu{
	margin-top:10%;
}
.menu-item{
	padding: 10px;

	font-size: 20px;
	background-color: rgba(255,255,255,0.75);
	border-radius: 50px;	
}
.container{
	width: 100%;
    height: 100%;
	background-color: #000;
   	display: flex;
}
.legenda{
	color:#fff;
}
.flex-item{
	display: flex;
	justify-content: center;
	width: 30%;
}
.imagem{
	width: 30%;
}
.flex-item-maior{
	width: 30%;
}
.ultimoparagrafo{
	color: #fff;
}
.imgfooter{
	width:40px;
	height:40px;
}